// colors
$color_mine_shaft_approx: #333;
$color_romance_approx: #fdfdfd;
$web_orange: orange;
$color_curious_blue_approx: #3397db;
$white: #fff;
$color_concrete_approx: #f3f3f3;
$color_tundora_approx: #444;
$color_silver_chalice_approx: #aaa;
$color_shark_approx: #252831;
$color_gallery_approx: #eee;
$black: black;
$color_science_blue_approx: #0275d8;
$color_congress_blue_approx: #01447e;
$color_celeste_approx: #ccc;
$gold_drop: #f18200;
$blue: blue;
$color_alto_approx: #ddd;
$color_tangerine_approx: #f58500;
$color_storm_dust_approx: #666;

// fonts
$font_0: Arial;
$font_1: Helvetica;
$font_2: sans-serif;