/* 
 * normalize styles across all browsers: 
 * https://github.com/JohnAlbin/normalize-scss 
 */
.material-icons {
  vertical-align: sub;
}

.material-icons.md-1 {
  font-size: 1rem;
}

.material-icons.md-12 {
  font-size: 1.2rem;
}

.material-icons.md-15 {
  font-size: 1.5rem;
}

.material-icons.md-2 {
  font-size: 2rem;
}

.material-icons.md-2 {
  font-size: 2.5rem;
}

.material-icons.md-3 {
  font-size: 3rem;
}

.material-icons.md-120p {
  font-size: 120%;
}

.material-icons.md-150p {
  font-size: 150%;
}

.material-icons.md-200p {
  font-size: 200%;
}

.page-heading, #restaurants-list, #reviews-list, .review-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#footer, .filter-options, #restaurants-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#restaurants-list li, #reviews-list li {
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 2px 8px 20px 2px;
          box-shadow: rgba(0, 0, 0, 0.19) 2px 8px 20px 2px;
}

.filter-options .filter-options-label, #restaurants-list-heading {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

a:focus, #map .leaflet-marker-pane img:focus {
  text-decoration: none;
  outline: 2px solid #c81d25;
  outline-offset: 0.25rem;
}

/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/* Document
       ========================================================================== */
/**
     * 1. Correct the line height in all browsers.
     * 2. Prevent adjustments of font size after orientation changes in
     *    IE on Windows Phone and in iOS.
     */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
       ========================================================================== */
/**
     * Remove the margin in all browsers (opinionated).
     */
body {
  margin: 0;
}

/**
     * Add the correct display in IE 9-.
     */
article,
aside,
footer,
header,
nav,
section {
  display: block;
}

/**
     * Correct the font size and margin on `h1` elements within `section` and
     * `article` contexts in Chrome, Firefox, and Safari.
     */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
figcaption,
figure {
  display: block;
}

/**
     * Add the correct margin in IE 8.
     */
figure {
  margin: 1em 40px;
}

/**
     * 1. Add the correct box sizing in Firefox.
     * 2. Show the overflow in Edge and IE.
     */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
     * Add the correct display in IE.
     */
main {
  display: block;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Links
       ========================================================================== */
/**
     * 1. Remove the gray background on active links in IE 10.
     * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
     */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/* Text-level semantics
       ========================================================================== */
/**
     * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
     * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
     */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
     * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
     */
b,
strong {
  font-weight: inherit;
}

/**
     * Add the correct font weight in Chrome, Edge, and Safari.
     */
b,
strong {
  font-weight: bolder;
}

/**
     * 1. Correct the inheritance and scaling of font size in all browsers.
     * 2. Correct the odd `em` font sizing in all browsers.
     */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
     * Add the correct font style in Android 4.3-.
     */
dfn {
  font-style: italic;
}

/**
     * Add the correct background and color in IE 9-.
     */
mark {
  background-color: #ff0;
  color: #000;
}

/**
     * Add the correct font size in all browsers.
     */
small {
  font-size: 80%;
}

/**
     * Prevent `sub` and `sup` elements from affecting the line height in
     * all browsers.
     */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
audio,
video {
  display: inline-block;
}

/**
     * Add the correct display in iOS 4-7.
     */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
     * Remove the border on images inside links in IE 10-.
     */
img {
  border-style: none;
}

/**
     * Hide the overflow in IE.
     */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
       ========================================================================== */
/**
     * 1. Change the font styles in all browsers (opinionated).
     * 2. Remove the margin in Firefox and Safari.
     */
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
     * Show the overflow in IE.
     */
button {
  overflow: visible;
}

/**
     * Remove the inheritance of text transform in Edge, Firefox, and IE.
     * 1. Remove the inheritance of text transform in Firefox.
     */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
     * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
     *    controls in Android 4.
     * 2. Correct the inability to style clickable types in iOS and Safari.
     */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  /**
       * Remove the inner border and padding in Firefox.
       */
  /**
       * Restore the focus styles unset by the previous rule.
       */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
     * Show the overflow in Edge.
     */
input {
  overflow: visible;
}

/**
     * 1. Add the correct box sizing in IE 10-.
     * 2. Remove the padding in IE 10-.
     */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
     * Correct the cursor style of increment and decrement buttons in Chrome.
     */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
     * 1. Correct the odd appearance in Chrome and Safari.
     * 2. Correct the outline style in Safari.
     */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
  /**
       * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
       */
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
     * 1. Correct the inability to style clickable types in iOS and Safari.
     * 2. Change font properties to `inherit` in Safari.
     */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
     * Correct the padding in Firefox.
     */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
     * 1. Correct the text wrapping in Edge and IE.
     * 2. Correct the color inheritance from `fieldset` elements in IE.
     * 3. Remove the padding so developers are not caught out when they zero out
     *    `fieldset` elements in all browsers.
     */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  color: inherit;
  /* 2 */
  white-space: normal;
  /* 1 */
}

/**
     * 1. Add the correct display in IE 9-.
     * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
     */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
     * Remove the default vertical scrollbar in IE.
     */
textarea {
  overflow: auto;
}

/* Interactive
       ========================================================================== */
/*
     * Add the correct display in Edge, IE, and Firefox.
     */
details {
  display: block;
}

/*
     * Add the correct display in all browsers.
     */
summary {
  display: list-item;
}

/*
     * Add the correct display in IE 9-.
     */
menu {
  display: block;
}

/* Scripting
       ========================================================================== */
/**
     * Add the correct display in IE 9-.
     */
canvas {
  display: inline-block;
}

/**
     * Add the correct display in IE.
     */
template {
  display: none;
}

/* Hidden
       ========================================================================== */
/**
     * Add the correct display in IE 10-.
     */
[hidden] {
  display: none;
}

html {
  font-size: 10px;
  line-height: 1.3;
}

body {
  background-color: #fafafa;
  color: #111111;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='565' height='67.8' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23ededed' stroke-width='14.6' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
  position: relative;
  font-family: 'Roboto', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1rem;
}

a {
  color: #c81d25;
  text-decoration: none;
}

a:hover {
  color: #0b3954;
  text-decoration: none;
}

a:focus {
  color: #0b3954;
}

a img {
  border: none;
}

p {
  margin: 0 0 1rem;
}

p:last-of-type {
  margin-bottom: 0;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

input:focus,
textarea:focus,
select:focus {
  outline: 2px solid #c81d25;
}

.page-heading {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 1rem 2rem;
  background-color: #087e8b;
  margin: 0;
  line-height: 1;
  text-transform: uppercase;
  font-size: 2rem;
}

.page-heading a {
  color: #fafafa;
}

#maincontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 2rem;
}

#footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0.5rem 2rem;
  background-color: #087e8b;
  color: #fafafa;
}

#footer a {
  text-transform: uppercase;
  padding: 1rem;
  -webkit-transition: color 200ms ease-out;
  transition: color 200ms ease-out;
  color: #fafafa;
}

#footer a:hover {
  color: #0b3954;
}

#breadcrumb {
  padding: 1rem 2rem;
  list-style: none;
  background-color: #fafafa;
  margin: 0;
}

#breadcrumb li {
  display: inline;
}

#breadcrumb li a {
  color: #c81d25;
  text-decoration: none;
  -webkit-transition: color 200ms ease-out;
  transition: color 200ms ease-out;
}

#breadcrumb li a:hover {
  color: #0b3954;
}

#breadcrumb li + li:before {
  padding: 0 8px 0 6px;
  content: "\2bc8";
  font-size: 80%;
  color: #087e8b;
}

#map {
  min-height: 320px;
  min-height: 33.33vh;
  background-color: #087e8b;
}

.filter-options {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  text-align: center;
  background-color: #0b3954;
}

.filter-options #filter-options-heading {
  color: #fafafa;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1;
  margin: 1rem 1rem 1rem;
}

.filter-options select {
  background-color: #fafafa;
  border: none;
  font-size: 1rem;
  margin: 0 1rem 1rem;
  padding: 0.5rem 1rem;
}

.restaurant-detail-view #map-container {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

/* List of restaurants on home page */
#restaurants-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  list-style: none;
  margin: 0;
  padding: 1rem 0;
  text-align: center;
}

#restaurants-list li {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fafafa;
  margin: 1rem;
  padding: 0;
  text-align: left;
  max-width: 320px;
}

#restaurants-list li a {
  background-color: #c81d25;
  color: #fafafa;
  display: block;
  margin: 1rem 0 0;
  padding: 1rem 2rem 1rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background-color 200ms ease-out;
  transition: background-color 200ms ease-out;
}

#restaurants-list li a:hover {
  background-color: #0b3954;
}

#restaurants-list figure {
  margin: 0;
  overflow: hidden;
}

#restaurants-list .restaurant-img {
  background-color: #111111;
  -webkit-transform: scale(1) rotate(0);
          transform: scale(1) rotate(0);
  -webkit-transition: all 900ms ease-in-out;
  transition: all 900ms ease-in-out;
}

#restaurants-list li:hover .restaurant-img {
  -webkit-transform: scale(1.2) rotate(1deg);
          transform: scale(1.2) rotate(1deg);
}

#restaurants-list .restaurant-heading {
  color: #0b3954;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin: 0 0 1rem 0;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #c81d25;
}

#restaurants-list p {
  margin: 0 1rem;
}

/* Detail view of restaurant */
#restaurant-container {
  background-color: #087e8b;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

#restaurant-img {
  background-color: #bfd7ea;
}

#restaurant-name {
  padding: 1rem;
  color: #c81d25;
  font-size: 1.5em;
  margin: 0;
  text-transform: uppercase;
  background-color: #fafafa;
  font-weight: 700;
  border-top: 1px solid #c81d25;
}

#restaurant-address {
  padding: 1rem;
  margin: 0;
  line-height: 1;
  background-color: #c81d25;
  color: #fafafa;
  font-weight: 700;
}

#restaurant-cuisine {
  background-color: #087e8b;
  color: #fafafa;
  margin: 0;
  padding: 1rem;
  text-align: center;
  font-size: 1.2em;
}

#restaurant-cuisine span {
  text-transform: uppercase;
  font-weight: 700;
  padding: 0 0.5rem;
}

#restaurant-hours {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  background-color: #fafafa;
}

#restaurant-hours tr:nth-child(even) {
  background-color: #ededed;
}

#restaurant-hours td {
  padding: 0.5rem;
}

#restaurant-hours td:first-child {
  font-weight: 700;
  color: #087e8b;
}

#reviews-container {
  margin: 0 0 2rem;
  text-align: center;
}

#reviews-container h2 {
  color: #c81d25;
  margin: 0;
}

#reviews-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0;
  padding: 0;
  text-align: left;
  list-style-type: none;
}

#reviews-list li {
  background-color: #fafafa;
  display: block;
  margin: 1rem;
  padding: 0;
  max-width: 24rem;
}

.review-meta {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #c81d25;
  padding: 1rem 1rem;
  line-height: 1;
  background-color: #bfd7ea;
}

.review-name {
  font-weight: 700;
}

.review-comments {
  padding: 0 1rem 1rem;
}

#map {
  border: 2px solid #fafafa;
}

#map:focus {
  border: 2px solid #c81d25;
}

#map .leaflet-control-attribution {
  background: rgba(255, 255, 255, 0.9);
}

#map a {
  color: #0b3954;
  outline-offset: 0rem;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 11px;
  }
}

@media screen and (min-width: 480px) {
  html {
    font-size: 12px;
  }
  .filter-options {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .filter-options select {
    margin: 1rem;
  }
  #footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 640px) {
  html {
    font-size: 13px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 14px;
  }
  .restaurant-detail-view #maincontent {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .restaurant-detail-view #map-container {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .restaurant-detail-view #map {
    height: 100vh;
  }
  .restaurant-detail-view #restaurant-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 400px;
    height: 100vh;
    overflow: auto;
    margin: 0;
    z-index: 1100;
    border: 2px solid #fafafa;
    border-width: 2px 0 2px 2px;
  }
}

@media screen and (min-width: 960px) {
  html {
    font-size: 15px;
  }
  #restaurant-container {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 1120px) {
  html {
    font-size: 16px;
  }
  #restaurant-container {
    font-size: 0.8em;
  }
}

@media screen and (min-width: 1280px) {
  html {
    font-size: 17px;
  }
  #restaurant-container {
    font-size: 0.7em;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 18px;
  }
  #restaurant-container {
    font-size: 0.65em;
  }
}

@media screen and (min-width: 1600px) {
  html {
    font-size: 19px;
  }
  #restaurant-container {
    font-size: 0.6em;
  }
}

@media screen and (min-width: 1760px) {
  html {
    font-size: 20px;
  }
  #restaurant-container {
    font-size: 0.55em;
  }
}
/*# sourceMappingURL=main.css.map */