// colors

$color_white: #fff;
$color_black: black;
$color_orange: #ff9800;

// colors approx

$color_curious_blue_approx: #3397db;
$color_wafer_approx: #DBCBBC;

$color_concrete_approx: #f3f3f3;
$color_celeste_approx: #ccc;
$color_silver_chalice_approx: #aaa;
$color_storm_dust_approx: #666;
$color_tundora_approx: #444;
$color_mine_shaft_approx: #333;

// functional

$color_accent: $color_orange;
$color_primary: $color_curious_blue_approx;
$color_secondary: $color_tundora_approx;