// colors

$color1: rgba(11, 57, 84, 1);
$color2: rgba(8, 126, 139, 1);
$color3: rgb(191, 215, 234);
$color4: rgba(255, 90, 95, 1);
$color5: rgba(200, 29, 37, 1);
$color6: rgba(243, 201, 105, 1);
$color7: rgba(237, 237, 237,1);



$color_alabaster: #fafafa;
$color_concrete_approx: #f3f3f3;
$color_tundora_approx: #444444;
$color_cod_gray_approx: #111111;

// functional

$color_accent: $color5;
$color_accent_dark: $color1;
$color_primary: $color1;
$color_secondary: $color2;
$color_tertiary: $color6; // not in use
$color_unobtrusive: $color3;
$color_background: $color7;

$color_dark: $color_cod_gray_approx;
$color_light: $color_alabaster;
