.material-icons {

    vertical-align: bottom;

    &.md-1 {
        font-size: 1rem;
    }

    &.md-12 {
        font-size: 1.2rem;
    }

    &.md-15 {
        font-size: 1.5rem;
    }

    &.md-2 {
        font-size: 2rem;
    }

    &.md-2 {
        font-size: 2.5rem;
    }

    &.md-3 {
        font-size: 3rem;
    }

    &.md-120p {
        font-size: 120%;
    }

    &.md-150p {
        font-size: 150%;
    }

    &.md-200p {
        font-size: 200%;
    }

}

