@mixin flexHorizontal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap,
}

%flexHorizontal {
    @include flexHorizontal;
}


@mixin flexVertical {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap,
}

%flexVertical {
    @include flexVertical;
}


@mixin boxShadow {
    box-shadow: rgba(0, 0, 0, 0.19) 2px 8px 20px 2px;
}

%boxShadow {
    @include boxShadow;
}


@mixin visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

%visuallyHidden {
    @include visuallyHidden;
}

@mixin focusBasic {
    text-decoration: none;
    outline: 2px solid $color_accent;
    outline-offset: 0.25rem;
}

%focusBasic {
    @include focusBasic;
}