@media screen and (max-width: 480px) {

}

@media screen and (min-width: 320px) {
    html {
        font-size: 11px;
    }
}

@media screen and (min-width: 480px) {
    html {
        font-size: 12px;
    }
    .filter-options {
        flex-direction: row;
        align-items: center;
        select { margin: 1rem; }
    }
    #footer {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media screen and (min-width: 640px) {
    html {
        font-size: 13px;
    }
}

@media screen and (min-width: 800px) {
    html {
        font-size: 14px;
    }

    .restaurant-detail-view {
        #maincontent {
            flex-direction: row;
        }
        #map-container {
            flex: 1;
        }
        #map {
            height: 100vh;
        }
        #restaurant-container {
            @include flexVertical;
            justify-content: center;
            width: 400px;
            height: 100vh;
            overflow: auto;
            margin: 0;
            z-index: 1100;
            border: 2px solid #fafafa;
            border-width: 2px 0 2px 2px;
        }
}

}

@media screen and (min-width: 960px) {
    html {
        font-size: 15px;
    }
    #restaurant-container {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 1120px) {
    html {
        font-size: 16px;
    }
    #restaurant-container {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 1280px) {
    html {
        font-size: 17px;
    }
    #restaurant-container {
        font-size: 0.7em;
    }
}

@media screen and (min-width: 1440px) {
    html {
        font-size: 18px;
    }
    #restaurant-container {
        font-size: 0.65em;
    }
}

@media screen and (min-width: 1600px) {
    html {
        font-size: 19px;
    }
    #restaurant-container {
        font-size: 0.6em;
    }
}

@media screen and (min-width: 1760px) {
    html {
        font-size: 20px;
    }
    #restaurant-container {
        font-size: 0.55em;
    }
}
