#reviews-container {
    margin: 0 0 2rem;
    text-align: center;
    h2 {
        color: $color_accent;
        // font-size: 1.5em;
        margin: 0;
    }
}

#reviews-list {
    @extend %flexHorizontal;
    justify-content: center;
    align-items: stretch;
    margin: 0;
    padding: 0;
    text-align: left;
    list-style-type: none;
    li {
        @extend %boxShadow;
        background-color: $color_white;
        display: block;       
        margin: 1rem;
        padding: 0;
        max-width: 24rem;
    }
}

.review-meta {
    @extend %flexHorizontal;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $color_accent;
    padding: 1rem 1rem;
    line-height: 1;
    background-color: $color_concrete_approx;
}

.review-name {
    font-weight: 700;
}

.review-comments {
    padding: 0 1rem 1rem;
}